.fx
{display: -webkit-flex;display: -ms-flexbox;display: flex;flex: 1;}
.fxwp
{flex-wrap: wrap;}

.fxdc
{-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;}
.fxdr
{-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;}

.fxjcc
{-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;}
.fxjcfs
{-webkit-justify-content: flex-start;-ms-flex-pack: flex-start;justify-content: flex-start;}
.fxjcfe
{  justify-content: flex-end;}
.fxjcsb
{  justify-content: space-between;}
.fxjcsa
{  justify-content: space-around;}
.fxjcse
{  justify-content: space-evenly;}

.fxaic
{-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.fxaifs
{-webkit-align-items: flex-start;-ms-flex-align: flex-start;align-items: flex-start;}
.fxaife
{-webkit-align-items: flex-end;-ms-flex-align: flex-end;align-items: flex-end;}

.page
{min-height: 100vh;color:#fff}
.rest
{background-color:teal;}
.axios
{background-color:mediumslateblue;}
.parent
{background-color: dodgerblue;}
.notfound
{background-color:grey;}
.navigation, .foods, .child, .notfound h2
{text-align: center;}
.navigation ul
{padding: 0;}
.navigation ul li
{list-style: none;}
.foods
{padding: 25px 0;color:#fff}
.child button
{padding: 10px;border-radius: 5px;color:#fff;background-color: forestgreen;}  
.quotes
{}